body {
  font-family: 'rowdies';
  height: 110vh;
  display: flex;
  overflow: hidden; 
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('img/hardware.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  filter: blur(8px); 
  z-index: -1; 
}

.wrapper {
  display: flex;
  min-height: 100vh; 
  position: relative; 
}

.sidebar {
  background-color: #263548;
  color: white;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 110vh; 
  overflow-y: auto; 
  z-index: 1; 
}

.content {
  padding: 20px;
  flex-grow: 1; 
  display: flex;
  flex-direction: column; 
  margin-left: 200px; 
  height: 110vh;
  overflow: auto; 
  background-color: rgba(255, 255, 255, 0.9); 
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input {
  flex-grow: 1; 
  margin-right: 10px; 
}

.btn-add {
  background-color: #ff3333;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.btn-add:hover {
  background-color: #e60000;
}

.table-container {
  flex-grow: 1; 
  margin-top: 20px; 
  overflow-x: auto; 
}

.table {
  width: 100%; 
  table-layout: auto; 
}

.table th, .table td {
  vertical-align: middle; 
  border: 1px solid #ddd; 
  padding: 10px; 
  text-align: left; 
}

.menu-links {
  flex-grow: 1; 
}

.bottom-links {
  margin-top: auto; 
}

.sidebar a {
  text-decoration: none;
  color: white;
  display: block; 
  margin: 10px 0; 
  padding: 10px;
  border-radius: 4px; 
}

.sidebar a:hover {
  background-color: #1a2939;
}

.logo {
  font-size: 24px; 
  margin-bottom: 20px;
  font-weight: bold; 
  max-width: 150px; 
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-out {
  animation: slideOut 1s ease-in-out forwards;
}

.slide-in {
  animation: slideIn 1s ease-in-out forwards;
}
